<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <v-btn href="/"><span>Inicio</span></v-btn>
        <span class="font-weight-light"></span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        href="#/carga-imagen"
      >
        <span class="mr-2">Cargar Imagen</span>
      </v-btn>
      <v-btn
        flat
        href="https://gitlab.com/leonelphm/FileUpload"
        target="_blank"
      >
        <span class="mr-2">Repo File Upload</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <router-view/>
      <notifications/>
    </v-content>
  </v-app>
</template>

<script>
import router from './router.js';
export default {
  name: 'App',
  mounted(){
    router.push("")
  }
}
</script>
