<template>
    <v-container>
        <v-layout
          text-xs-center
          wrap
        >
            <v-flex xs12>
                <v-toolbar dark color="primary">
                    <v-toolbar-title class="white--text">{{ imgTitulo }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                    <img :src="imgUrl" height="200" v-if="imgUrl"/>
                    <v-text-field label="Seleccione Imagen" @click.native='obtenerArchivo' v-model='imgNombre' prepend-icon='attach_file'></v-text-field>
                    <input
                        type="file"
                        style="display: none"
                        ref="image"
                        accept="image/*"
                        @change="valoresArchivos"
                    >
                </v-flex>
            </v-flex>
            <v-layout justify-center>
                <v-btn depressed @click.native="cargar" color="info">Subir Archivo</v-btn>
            </v-layout>
        </v-layout>
    </v-container>
</template>
<script src="./CargarImagen.js"></script>